[submodule "idinvert_pytorch"]
	path = idinvert_pytorch
	url = https://github.com/phymhan/idinvert_pytorch.git
[submodule "pytorch-pwc"]
	path = pytorch-pwc
	url = https://github.com/sniklaus/pytorch-pwc.git
